#live-reports {
  overflow: hidden;
}

.live-reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  margin: 0 5px;
}

.prev:hover,
.next:hover {
  cursor: pointer;
}

#live-reports-list {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  padding-right: 17px;
  margin: 0;
  overflow-y: scroll;
  box-sizing: content-box;
}

#live-reports-list li {
  width: -webkit-fill-available;
  cursor: pointer;
}

#live-reports-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#live-reports-list {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.liveReport-flag {
  margin-right: 2px;
}

.countryLiveReport {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
