:root {
  --gray-light: #f5f3f4;
  --gray-medium: #a5adb1;
  --gray-dark: #42414a;
  --blue-light: rgb(204, 204, 247);
  --red-light: rgb(255, 221, 221);
  --red-medium: #f0a1a1;
  --red-dark: #f43331;
  --green-light: rgb(195, 245, 218);
  --green-medium: #7e9681;
  --green-dark: #1c6d26;
  --green: rgb(10, 194, 93);
}
li {
  list-style: none;
}

li span {
  margin-left: 2rem;
  text-align: right;
  right: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--gray-light);
  /* font-family: "loto",sans-serif; */
  font-family: "Raleway", sans-serif;
  font-size: 15px;
}
.navbar {
  margin: 1rem;
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  /* background-color: rgb(54, 9, 80); */

  box-shadow: 0px 0px 13px 5px rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
}
.navbar-brand {
  font-weight: 500;
  /* color: rgb(74, 204, 150); */
}
.navbar-items {
  /* text-align: right; */
  left: 0;
  align-items: right;
  /* font-size: 0.8rem; */
  display: flex;
}
.form-inline {
  display: flex;
}
.form-control {
  border-radius: 0.9rem;
  font-size: 0.9rem;
  padding-left: 3rem;
  width: 20rem !important;
}

.btn-search,
.btn-search:focus {
  background-color: rgb(195, 247, 231);
  border-radius: 0.44rem;
  border: none;
  padding: 0.3rem 1rem;
  margin: 0.3rem 1rem;
  font-weight: 500;
  color: rgb(0, 128, 75);
  outline: none;
}
.btn-search:hover {
  background-color: rgb(161, 233, 211);
  border: 1px solid var(--green-light);
}
.fa-virus {
  padding-right: 1rem;

  font-size: 2rem;

  border-radius: 0.3rem;
  color: var(--gray-medium);
}

/* ----------------  main-container----------------------------- */
.main-container {
  height: 100vh;
  margin: 0 2rem;
}
#col-one {
  border-radius: 0.3rem;
  width: 100%;
}
#col-two {
  border-radius: 0.3rem;
  margin-left: 1rem;
}
.card-container {
  display: flex;
  height: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 12vh;
  font-size: 0.8rem;
}
.card {
  width: 23.5%;
  border-radius: 0.3rem;
  padding: 0.5rem;
  border: none;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h5 {
  display: flex;
  font-family: "lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}

.centeral-container {
  background-color: rgb(255, 255, 255);
  min-height: 50vh;
  border-radius: 0.3rem;
  position: relative;
  margin-bottom: 0.1rem;
  padding: 1rem;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
}

.chart {
  /* background-color: rgb(189, 50, 50); */
  width: 100%;
  margin-bottom: 0rem;
  border-radius: 0.3rem;
  margin-right: 0.8rem;
  overflow: hidden;
}
#curve_chart {
  /* box-shadow: 0px 0px 13px 2px rgb(247, 247, 247); */

  border: 1px solid var(--gray-light);
  /* clip-path: polygon(25% 33%, 53% 29%, 49% 70%, 21% 70%); */
  /* clip-path: polygon(47% 34%, 84% 35%, 84% 70%, 48% 70%); */
}
.fa-caret-down {
  margin-left: 0.7rem;
  font-size: 1.5rem;
  color: var(--green);
}
.fa-caret-up {
  margin-left: 0.7rem;
  font-size: 1.5rem;
  color: var(--red-dark);
}
.top-countries {
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-top {
  background-color: #fff;
  border-radius: 0.3rem;
  height: 100%;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  border: 1px solid var(--gray-light);
  display: flex;
  /* justify-content: space-between; */
  font-size: 0.9rem;
}
.card-top:last-child {
  margin: 0;
}
.circle {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  padding: 1.1rem;
  margin-right: 1rem;
  line-height: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle-one {
  color: rgb(247, 68, 68);
  border: 1px solid var(--red-light);
  background: radial-gradient(
    circle,
    rgba(240, 209, 209, 0.7936216723017332) 37%,
    rgba(251, 251, 251, 1) 48%,
    rgba(251, 251, 251, 1) 95%
  );
}
.circle-two {
  color: rgb(68, 80, 247);
  border: 1px solid var(--blue-light);
  background: radial-gradient(
    circle,
    rgba(209, 221, 240, 0.794) 37%,
    rgba(251, 251, 251, 1) 48%,
    rgba(251, 251, 251, 1) 95%
  );
}
.circle-three {
  color: rgb(34, 124, 64);

  border: 1px solid var(--green-light);
  background: radial-gradient(
    circle,
    rgba(209, 240, 226, 0.794) 37%,
    rgba(251, 251, 251, 1) 48%,
    rgba(251, 251, 251, 1) 95%
  );
}
.card-top p {
  font-size: 0.8rem;
  color: var(--gray-dark);
}

.news {
  background-color: #fff;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
  padding: 1rem;
}
.btn {
  font-weight: 500;
  margin-bottom: 2rem;
}
.btn-news {
  display: block;
  background-color: var(--green-light);
  color: var(--green-dark);
  width: 28%;
}
.btn-symptoms {
  display: block;
  background-color: var(--red-light);
  color: var(--red-dark);
  width: 28%;
}
.symptoms {
  background-color: #fff;
  padding: 1rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
}
/* --------------------- */

.news-symptoms-container {
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
  min-height: 35vh;
}

.ratio-recovery {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  padding-bottom: 0 !important;
  border-radius: 0.3rem;
  min-height: 40%;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
}
.circle-recovery {
  /* display: none; */
  text-align: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(9, 168, 115);
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  border: 1px solid var(--gray-light);
  padding: 3rem;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 34%,
    rgba(78, 203, 153, 1) 34%,
    rgb(125, 228, 187) 37%,
    rgba(129, 230, 191, 1) 38%,
    rgba(255, 255, 255, 1) 85%
  ); /* background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 34%,
    rgba(106, 218, 173, 0.808) 34%,
    rgba(255, 255, 255, 1) 85%,
    rgb(255, 255, 255) 94%,
    rgb(255, 255, 255) 100%
  ); */
  line-height: 1.8rem;
}
.global-data-container {
  display: flex;
  justify-content: space-between;

  /* padding: 1rem 1rem; */
  font-size: 0.8rem;
  font-family: "lato";
}
.global-today {
  text-align: left;
  /* padding: 1rem 0; */
}
.global-total {
  text-align: left;
  /* padding: 1rem 0; */
  margin-right: 0.6rem;
}
.live-country {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  min-height: 50%;
  box-shadow: 0px 0px 13px 5px rgb(233, 233, 233);
}
#live-reports-list {
  padding-right: 0 !important;
}
.live-country .tabs {
  font-size: 0.7rem;
  margin-left: 2rem;
}
.live-country .next {
  border: 1px solid var(--green-medium);

  color: var(--green-medium);
  padding: 0rem 0.9rem;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  font-weight: bold;
}
.live-country .prev {
  border: 1px solid var(--green-medium);
  color: var(--green-medium);

  margin-right: 0rem;
  padding: 0 0.9rem;

  border-top-left-radius: 0.9rem;
  border-bottom-left-radius: 0.9rem;
  font-weight: bold;
}
.next:hover,
.prev:hover {
  font-size: 0.75rem;
  background-color: var(--gray-light);
}
.countryLiveReport {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  font-family: "loto", sans-serif;
  background-color: var(--gray-light);
}
.countryLiveReport:hover {
  background-color: rgb(247, 247, 247);
}

/*================== MEDIA-QUERIES-================================================== */

@media only screen and (max-width: 1199px) {
  .form-control {
    padding-left: 3rem;
    padding-right: 3rem;
    width: auto;
  }
  #col-two {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 1rem;
  }
  .live-country {
    margin-top: 0rem;
    width: 50.6%;
    height: 100%;
  }
  .circle-recovery {
    height: 12rem;
    width: 12rem;
    padding: 4.9rem;
    margin: 3rem 0rem;

    font-size: 1.2rem;
  }
  .ratio-recovery {
    height: 100%;
    width: 50.6%;
  }
  .ratio-recovery h6 {
    font-size: 1.3rem;
  }
  .global-data-container {
    display: flex;
    justify-content: space-between;
    /* padding: 1rem 1rem; */
    font-size: 1rem;
    font-family: "lato";
  }
}
@media only screen and (max-width: 800px) {
  .card-top {
    padding: 0.3rem 1rem;
    justify-content: flex-start;
    font-size: 1rem;
  }

  .btn-symptoms {
    width: 50%;
  }
  .btn-news {
    width: 50%;
  }
  #col-two {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 1rem;
  }
  .live-country {
    width: 51.1%;
  }
  .circle-recovery {
    /* margin-left: 22%; */
  }
  .ratio-recovery {
    width: 51.1%;
  }
}
@media only screen and (max-width: 769px) {
  .form-control {
    width: auto !important;
  }
  .top-countries {
    margin-top: 3.5rem;
  }
}
@media only screen and (max-width: 660px) {
  .circle {
    margin: 0 2rem;
  }
  .card-top {
    padding: 0.3rem 1rem;
    justify-content: flex-start;
    font-size: 1rem;
  }

  .btn-symptoms {
    width: 30%;
  }
  .btn-news {
    width: 30%;
  }
  #col-two {
    display: block;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 1rem;
  }
  .live-country {
    width: 100%;
    height: 60%;
    margin-top: 0.9rem;

    width: 107%;
  }

  /* .circle-recovery {
    margin-left: 32%;
  } */
  .ratio-recovery {
    width: 107%;
    height: 50%;
  }
  .news-symptoms-container {
    display: block;
  }
  .symptoms {
    padding: 1rem;
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .news {
    margin-right: 0rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 612px) {
  .form-inline {
    justify-content: center !important;
  }
  .form-control {
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
  }
  .btn-search {
    padding: 0.3rem 1rem;
    margin: 0.3rem 0.1rem;
  }

  h5 {
    font-size: 1rem;
  }
  .total-container {
    margin-bottom: 1.5rem;
  }

  .card {
    margin-bottom: 0rem;
  }
}
@media only screen and (max-width: 502px) {
  .card h5 {
    font-size: 1rem;
  }
  .navbar {
    padding: 0 1rem;
    padding-top: 0.2rem;
    margin: 0;
    margin-bottom: 1rem;
  }
  .navbar-brand {
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-right: 1rem;
  }
  .form-inline {
    margin: 0 3rem !important;
  }
  .form-control {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 439px) {
  .card h5 {
    font-size: 0.9rem;
  }
  .form-inline {
    margin: 0 0.5rem !important;
  }
  .form-control {
    padding: 0 3rem;
  }
  .main-container {
    height: 100vh;
    margin: 0 1rem;
  }
  .card-top {
    padding: 0.3rem 1rem;
    justify-content: flex-start;
    font-size: 1rem;
  }
  .circle {
    margin-left: 0;
    margin-right: 0.5rem;
  }

  .btn-symptoms {
    width: 100%;
  }
  .btn-news {
    width: 100%;
  }

  .live-country {
    height: 60%;
    margin-top: 0.9rem;

    width: 110%;
  }

  .ratio-recovery {
    width: 110%;
  }

  .news {
    margin-right: 0rem;
    padding: 1rem;
  }
  #map {
    min-height: 150px !important;
  }
  .news-info {
    display: block !important;
    justify-content: space-between !important;
    text-align: center !important;
    margin: 1rem 0rem;
  }
  .news-info div {
    width: 100% !important;
  }
}
@media only screen and (max-width: 398px) {
  .card h5 {
    font-size: 0.86rem;
  }
  .form-inline {
    margin: 0rem !important;
  }
  .form-control {
    padding: 0 1rem;
  }
  .card-container {
    margin-bottom: 1.3rem;
  }
  .global-data-container {
    font-size: 0.9rem;
  }
}
/* ========= MODAL =================================================== */

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  animation-name: whenModalopen;
  margin: 10% auto;
  width: 60%;

  animation-duration: 1s;
}

.modal-header {
  background: white;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
  font-size: 1.2rem;
}

.modal-footer {
  background: white;
  padding: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  /* font-size: 1.5rem; */
  color: var(--green-dark);
}

@keyframes whenModalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* //============================================================================================== */
/* //============================================================================================== */
/* //============================================================================================== */

.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  margin-right: -1rem;

  box-shadow: 0px 8px 31px -11px rgba(0, 0, 0, 0.75);
}
.autocomplete-items div {
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  padding: 0.4rem 1rem;
  font-family: "lato";
  font-size: 0.9rem;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: rgb(241, 241, 241) !important;
}
